<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>


    <style>
        *{
          border: border-box;
            
        }
        #temp{
            width:1000px;
            height:60px;
            border:solid goldenrod;
            margin:auto;
        }

        #wrapper{
            width:1000px;
            height:100%;
            margin: auto;
            display :flex; 
            justify-content: space-between;
            border: solid black;
            margin-top :50px;
            
        }
        #section_1{
            height: 100%;
            width:700px;
            border:solid salmon;
        }
      

        .space{
            display:grid;
            grid-template-rows: repeat(2, 100px);
            /* grid-template-columns: repeat(3, 1fr); */
            column-gap:50px;
            border: solid blueviolet;
            margin:10px;
        }
        .title{
            border:solid red;
            margin:10px;
        }

        #list > ul{
            display:flex;
            list-style: none;
            justify-content:  space-between;
            border: solid green;
            margin: auto;
         }

         #list li{
         
            border: solid rosybrown;
            padding: 10px;
          
         }

        /*------------*/
         #section_2{
            border: solid gray;
            width:300px;
           
        }
        #section_2 div{
             margin-top:20px; 
         
        }

        #detail_space_choice{

            border:  solid purple;
        }
        #time_choice > ul{
            display:flex;
            justify-content: space-between;
            list-style: none;
        }

        .price{
            border: solid rgb(215, 213, 213);
            
            background-color: yellow;
        }


    </style>
</head>


<body>
    <header id="temp">
        headers

    </header>

    <div id="wrapper">

        <div id="section_1">
            
            
            <div id="space_id" class="title">르씨엘 2호점</div>
            <div id="space_comment" class="space">
                <div ><img src="../../resources/space_img/test.png" width="50%" height="70%"></div>
                <div>공간소개글
                    adsfdsaadsf
                   
                </div>     
            </div>
             
            <div id="list" class="space">
                <ul>
                    <li>공간소개</li>
                    <li>시설안내</li>
                    <li>유의사항</li>
                    <li>환불정책</li>
                    <li>Q&A</li>
                    <li>이용후기</li>
                </ul>
            </div>
            <div id="space_intro" class="title" >공간소개</div>
            <div id="space_intro_comment" class="space">공간소개글</div>

            <div id="space_guide" class="title">시설안내</div>
            <div id="space_guide_comment" class="space">시설안내글</div>


            <div id="reservation_warn" class="title">예약시 주의사항</div>
            <div id="reservation_warn_comment" class="space">예약시 주의사항글</div>


            <div id="space_road" class="title">길찾기</div>
            <div id="space_road_comment"class="space">길찾기로드</div>

            <div id="space_qa" class="title">Q&A</div>
            <div id="space_qa_comment" class="space">Q&A글</div>

            <div id="space_review"class="title">리뷰</div>
            <div id="space_review_comment" class="space">review</div>

        </div>
        <div id="section_2">
         
            <div id="detail_space" class="title">세부공간 선택</div>
            <div id="detail_space_choice">

                <div>결제후 바로 예약확정</div>
                <div>빠르고 확실한 예약을 위한 KH룸모아 방문에 감사해요</div>
                <div></div>
             <form action="#" method="post">

                <div id="space_detail_select">
                      <input type="radio" id="type" name="space_type" value="공간유형">
                      <label for="type">공간유형</label>  
                </div>

                <div id="space_detail_comment">
                    <div><img src="#">세부공간이미지</div>
                    <div>서울대 입구..</div>
                </div>

                <div id="space_option" class="title">가구및 설명란</div>
                <div id="space_option_comment">
                    <table align="center">
                        <tr>
                            <th>공간유형:</th>
                            <td>xxxxxx</td>
                        </tr>

                        <tr>
                            <th>공간면적:</th>
                            <td>xxxxxx</td>
                        </tr>

                        
                        <tr>
                            <th>예약유형:</th>
                            <td>xxxxx</td>
                        </tr>

                        <tr>
                            <th>최소1명~N명:</th>
                            <td>xxxxx</td>
                        </tr>

                    </table>
                   </div>
                   <div > 시설물 옵션 종류</div>

                   <div id="reservation" class="title">예약선택</div>
                   <div id="reservation_choice">
                        <div>
                            <input type="radio" name="reservation" id="time" value="time">
                            <label for="time">시간단위 예약하기</label>
                        </div>

                        <div>
                            <input type="radio" name="reservation" id="pack" value="pack">
                            <label for="pack">패키지로 예약하기</label>
                        </div>

                   </div>

                   <div id="date" class="title">날짜 선택</div>
                   <div id="date_choice" >
                        <table>
                            <thead>
                                <th>SUN</th>
                                <th>MON</th>
                                <th>TUE</th>
                                <th>WED</th>
                                <th>THU</th>
                                <th>FRI</th>
                                <th>SAT</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                  
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                  
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                  
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                  
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                   
                                </tr>
                               
                            </tbody>


                        </table>
                       

                   </div>

                   <div id="time" class="title">시간선택</div>
                   <div id="time_choice">
                        <ul>
                            <li>
                                <a class="time_box">
                                    <span class="time">9</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">10</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">11</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">12</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">13</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">14</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">15</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">16</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">17</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">18</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">19</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>
                            <li>
                                <a class="time_box">
                                    <span  class="time">20</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>

                            <li>
                                <a class="time_box">
                                    <span  class="time">21</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>

                            <li>
                                <a class="time_box">
                                    <span class="time">22</span>
                                    <span class="price">1000</span>
                                </a>
                            </li>


                        </ul>


                   </div>


                   <div id="count" class="title">총 예약인원</div>
                   <div id="count_select" align="center">
                        <span id="minus"><button >-</button></span>
                        <input type="number" name="number" min="3" max="12" style="width:60%">
                        <span id="plus"><button >+</button></span>
                    </div>
                    
                    <div id="buttons" align="center">
                        <input type="submit" value="예약하기">
                        <input type="reset" value="취소하기">
                    </div>
                   
                </form>    



            </div>
          
    
        </div>



    </div>
    
   
   

    
</body>
</html>