<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertBoard">
	INSERT INTO BOARD(
		BOARD_NO,
		BOARD_TITLE,
		BOARD_CONTENT,
		BOARD_WRITER,
		COUNT,
		CREATE_DATE,
		STATUS
	)
	VALUES(
		SEQ_UNO.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?
	)
</entry>	

	
</properties>