<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertMember"> <!-- 회원가입 -->
	INSERT INTO MEMBER(
		USER_NO,
		USER_ID,
		USER_PWD,
		USER_NAME,
		USER_NICKNAME,
		GENDER,
		BIRTH,
		EMAIL,
		PHONE,
		USER_HOST
	)
	VALUES
	(
		SEQ_UNO.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?
	)
</entry>


<entry key="loginMember"> <!-- 로그인 -->
	SELECT
	    USER_NO,
	    USER_ID,
	    USER_PWD,
	    USER_NAME,
	    GENDER,
	    USER_NICKNAME,
	    EMAIL,
	    PHONE,
	    BIRTH,
	    JOIN_DATE,
	    MODIFY_DATE,
	    STATUS,
	    USER_HOST,
	    USER_ADMIN
	FROM MEMBER
	WHERE USER_ID = ? 
	AND USER_PWD = ? 
	AND STATUS = 'Y'
</entry>


<entry key="idCheck"> <!-- 아이디 중복확인 -->
	SELECT COUNT(*) AS COUNT
	FROM MEMBER
	WHERE USER_ID = ?
</entry>


<entry key="findPwd"><!-- 비밀번호 찾기 -->
  SELECT USER_PWD
  FROM MEMBER
  WHERE USER_ID = ?
  AND PHONE = ?
  AND EMAIL =?
  AND STATUS ='Y'
</entry>


<entry key="updateMember"> <!-- 정보수정 -->
	UPDATE MEMBER
	SET USER_NICKNAME =?,
	PHONE =?,
	BIRTH =?,
	EMAIL =?,
	MODIFY_DATE = SYSDATE
	WHERE USER_ID = ?
</entry>


<entry key="selectMember"> <!-- 유저찾기 -->
	SELECT
	    USER_NO,
	    USER_ID,
	    USER_PWD,
	    USER_NAME,
	    GENDER,
	    USER_NICKNAME,
	    EMAIL,
	    PHONE,
	    BIRTH,
	    JOIN_DATE,
	    MODIFY_DATE,
	    STATUS,
	    USER_HOST,
	    USER_ADMIN
	FROM MEMBER
	WHERE USER_ID = ? 
	AND STATUS = 'Y'
</entry>

<entry key="updatePwdMember"> <!-- 정보수정(비밀번호포함) -->
	UPDATE MEMBER
		SET USER_PWD =?,
		USER_NICKNAME =?,
		PHONE =?,
		BIRTH =?,
		EMAIL =?,
		MODIFY_DATE = SYSDATE
		WHERE USER_ID =?
</entry>

<entry key="checkPwd">
	SELECT COUNT(*) AS COUNT
	FROM MEMBER
	WHERE USER_PWD = ?
	AND USER_ID =?
</entry>
</properties>