<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertMember">
	INSERT INTO MEMBER(
		MEMBER_NO
		ID
		PWD
		NAME
		MEMBER_NICKNAME
		GENDER
		DATE_OF_BIRTH
		EMAIL
		PHONE
	)
	VALUES
	(
		SEQ_UNO.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?,
		?
	)
</entry>

<entry key="loginUser"> <!-- 로그인 -->
	SELECT
		MEMBER_NO,
		ID,
		PWD,
		NAME,
		GENDER,
		MEMBER_NICKNAME,
		EMAIL,
		PHONE,
		DATE_OF_BIRTH
	FROM MEMBER
	WHERE ID = ?
	AND PWD = ?
	AND OUTER_STATUS = 'Y'
</entry>
	
</properties>