<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	SELECT COUNT(*) AS COUNT
	FROM NOTICE
	WHERE STATUS = 'Y'
</entry>

<entry key="selectNoticeList">
	SELECT *
		FROM( SELECT ROWNUM RNUM, A.*
			FROM(SELECT NOTICE_NO,
					   NOTICE_TITLE,
					   USER_ID,
					   COUNT,
					   CREATE_DATE
				FROM NOTICE N
				JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
				WHERE N.STATUS = 'Y'
				ORDER BY NOTICE_NO DESC
			) A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="insertNotice">
	INSERT INTO NOTICE(
		NOTICE_NO,
		NOTICE_TITLE,
		NOTICE_CONTENT,
		NOTICE_WRITER
	)
	VALUES(
		SEQ_NNO.NEXTVAL,
		?,
		?,
		?
	)
</entry>
<entry key="increaseCount">
	UPDATE NOTICE
	SET COUNT = COUNT + 1
	WHERE NOTICE_NO = ?
	AND STATUS = 'Y'
</entry>
<entry key="selectNotice">
	SELECT NOTICE_NO,
		   NOTICE_TITLE,
		   NOTICE_CONTENT,
		   USER_ID,
		   CREATE_DATE
	FROM NOTICE N
	JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
	WHERE NOTICE_NO = ?
	AND N.STATUS = 'Y'
</entry>
<entry key="updateNotice">
	UPDATE NOTICE
	SET NOTICE_TITLE = ?,
		NOTICE_CONTENT =?,
		COUNT = 0
	WHERE NOTICE_NO = ?
</entry>
<entry key="deleteNotice">
	UPDATE NOTICE
	SET STATUS = 'N'
	WHERE NOTICE_NO = ?
</entry>
<entry key="updateNoticeAttachment">
	UPDATE NOTICEATTACHMENT
	SET ORIGIN_NAME = ?,
		CHANGE_NAME = ?,
		FILE_PATH = ?
	WHERE FILE_NO = ?
</entry>
<entry key="insertNewNoticeAttachment">
	INSERT
	INTO NOTICEATTACHMENT(
			    FILE_NO,
			    REF_NNO,
			    ORIGIN_NAME,
			    CHANGE_NAME,
			    FILE_PATH,
			  )
		VALUES(
			    SEQ_NATNO.NEXTVAL
			   ,?
			   ,?
			   ,?
			   ,?
			  )
</entry>
<entry key="insertAttachment">
		INSERT
		INTO NOTICEATTACHMENT(
				    FILE_NO
				   ,REF_NNO
				   ,ORIGIN_NAME
				   ,CHANGE_NAME
				   ,FILE_PATH
				  )
			VALUES(
				    SEQ_NATNO.NEXTVAL
				   ,SEQ_NNO.CURRVAL
				   ,?
				   ,?
				   ,?
				  )
</entry>
<entry key="selectNoticeAttachment">
	SELECT FILE_NO
		 , ORIGIN_NAME
		 , CHANGE_NAME
		 , FILE_PATH
	  FROM NOTICEATTACHMENT
	 WHERE REF_NNO = ?
</entry>
<!--  
<entry key="selectSearchCount">
	SELECT COUNT(*)
	FROM NOTICE N
	JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
	WHERE N.STATUS = 'Y'
	AND ? LIKE '%' || ? || '%'
</entry>
-->
<!--
<entry key="selectSearchList">
	SELECT *
		FROM( SELECT ROWNUM RNUM, A.*
			FROM(SELECT NOTICE_NO,
					   NOTICE_TITLE,
					   USER_ID,
					   COUNT,
					   CREATE_DATE
				FROM NOTICE N
				JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
				WHERE N.STATUS = 'Y'
				AND (?) LIKE '%' || ? || '%'
				ORDER BY NOTICE_NO DESC
			) A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>
-->
<entry key="insertReply">
	INSERT INTO NOTICE_REPLY
	(
		REPLY_NO,
		REPLY_CONTENT,
		REF_NNO,
		REPLY_WRITER
	)
	VALUES
	(
		SEQ_RNO.NEXTVAL,
		?,
		?,
		?
	)
</entry>

<entry key="selectReplyCount">
	SELECT COUNT(*)
	FROM NOTICE_REPLY NR
	JOIN NOTICE ON (NOTICE_NO = REF_NNO)
	WHERE NR.STATUS = 'Y'
	AND REF_NNO = ?
</entry>

<entry key="selectReplyList">
	SELECT REPLY_NO,
		   REPLY_CONTENT,
		   CREATE_DATE,
		   USER_ID
	FROM NOTICE_REPLY R
	JOIN MEMBER ON (REPLY_WRITER = USER_NO)
	WHERE R.STATUS = 'Y'
	AND REF_NNO = ?
	ORDER BY REPLY_NO DESC
</entry>

<entry key="selectReplyList">
	SELECT STATUS
	FROM NOTICE
	WHERE NOTICE_NO = ?
</entry>


<!-- 
<entry key="findNextNum">

	SELECT NOTICE_NO
		FROM NOTICE
		WHERE NOTICE_NO > ?
		ORDER BY NOTICE_NO ASC
	FETCH FIRST 1 ROW ONLY

</entry>

<entry key="findNextNum">

	SELECT NOTICE_NO
			LEAD(NOTICE_NO) OVER (ORDER BY NOTICE_NO) AS NEXTNNO
	FROM NOTICE
	WHERE NOTICE_NO = ? 
	ORDER BY NOTICE_NO 

</entry>
 -->
	

</properties>