<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	SELECT COUNT(*) AS COUNT
	FROM BOARD
	WHERE STATUS = 'Y'
</entry>
<entry key="selectNoticeList">
	SELECT *
		FROM( SELECT ROWNUM RNUM, A.*
			FROM(SELECT NOTICE_NO,
					   NOTICE_TITLE,
					   USER_ID,
					   COUNT,
					   CREATE_DATE
				FROM NOTICE N
				JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
				WHERE N.STATUS = 'Y'
				ORDER BY NOTICE_NO DESC
			) A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="insertNotice">
	INSERT INTO NOTICE(
		NOTICE_NO,
		NOTICE_TITLE,
		NOTICE_CONTENT,
		NOTICE_WRITER
	)
	VALUES(
		SEQ_UNO.NEXTVAL,
		?,
		?,
		1
	)
</entry>
<entry key="increaseCount">
	UPDATE NOTICE
	SET COUNT = COUNT + 1
	WHERE NOTICE_NO = ?
	AND STATUS = 'Y'
</entry>
<entry key="selectNotice">
	SELECT NOTICE_TITLE,
		   NOTICE_CONTENT,
		   CREATE_DATE
	FROM NOTICE
	WHERE NOTICE_NO = ?
	AND STATUS = 'Y'
</entry>



	
</properties>