<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectOneSpace">

	 SELECT SPACE_NO,
			SPACE_NAME,
			SPACE_KIND,
			SPACE_ONE_INTRODUCE,
			SPACE_INTRODUCE,
			SPACE_TAG,
			SPACE_INFORMATION,
			SPACE_CAUTION,
			SPACE_MIMG,
			SPACE_IMG,
			SPACE_ADDRESS,
			SPACE_DETAIL_ADDRESS,
			SPACE_PRICE,
			SPACE_LOCATION,
			SPACE_TEL,
			SPACE_CAPACITY,
			SPACE_RESERVATION_STATUS,
			SPACE_ENROLL_DATE,
			SPACE_ENROLL_STATUS,
			USER_NO
			FROM SPACE
			WHERE SPACE_NO = ? 



</entry>






<entry key="insertGuestComment">
	 	INSERT INTO GUESTCOMMENT
	 		 (
	 	     COMMENT_NO,
	 		 CONTENT,
	 		 SPACE_NO,
	 		 USER_NO
	 		 )
	 		 VALUES(
	 			SEQ_GCNO.NEXTVAL,
	 			?,
	 			?,
	 			?
	 		 )
</entry>

<entry key="selectGuestComment">
	   SELECT
	         G.COMMENT_NO As "Comment_No", 
	         USER_ID,
	  		 G.CONTENT AS "게스트답글",
	  		 INSERT_DATE,
             NVL(H.CONTENT,' ') AS "호스트답글"
	  		 FROM GUESTCOMMENT G 
	  		 JOIN MEMBER M
	  		 ON(G.USER_NO=M.USER_NO)
             JOIN SPACE S
             ON(G.SPACE_NO=S.SPACE_NO)
             LEFT JOIN HOSTCOMMENT H
             ON(H.COMMENT_NO=G.COMMENT_NO)
	  		 WHERE S.SPACE_NO = ?
	
	
</entry>


<entry key="insertHostComment">
	INSERT INTO HOSTCOMMENT
			(HOSTCOMMENT_NO,
			  CONTENT,
			  COMMENT_NO
			 )
			 VALUES(
			 	SEQ_HCNO.NEXTVAL,
			 	?,
			 	?
			 )
	
</entry>

<entry key="updateHostComment">
		UPDATE HOSTCOMMENT
			  SET CONTENT = ?
			  WHERE COMMENT_NO = ?
				
</entry>

<entry key="findHostComment">

	SELECT COUNT(*) AS "count" FROM HOSTCOMMENT WHERE COMMENT_NO = ?

</entry>



<entry key="selectHostComment">
		 SELECT CONENT
				FROM HOSTCOMMENT H
				JOIN GUESTCOMMENT G
				USING(COMMENT_NO)
				WHERE H.COMMENT_NO = ?
				
	
</entry>

<entry key="findDate">
	  SELECT  RESERVATION_TIME1,
	          RESERVATION_TIME2
	          FROM RESERVATION_DATE
	          WHERE RESERVATION_DATE  like ?
		

</entry>




<entry key="selectReservationCount">
SELECT COUNT(*) AS COUNT
	FROM RESERVATION 
	JOIN MEMBER USING (USER_NO)
	WHERE USER_ID = ?
	AND STATUS ='Y'
</entry>

<entry key="insertSpace">
	INSERT INTO SPACE (
					    SPACE_NO,
						SPACE_NAME,
						SPACE_KIND,
						SPACE_ONE_INTRODUCE,
						SPACE_INTRODUCE,
						SPACE_TAG,
						SPACE_INFORMATION,
						SPACE_CAUTION,
						SPACE_ADDRESS,
						SPACE_DETAIL_ADDRESS,
						SPACE_PRICE,
						SPACE_LOCATION,
						SPACE_TEL,
						SPACE_CAPACITY,
						USER_NO 
					   )
				VALUES(
					   SEQ_SNO.NEXTVAL,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?
					   )					
</entry>

<entry key="insertAttachmentList">
	INSERT INTO ATTACHMENT (
								FILE_NO,  
								REF_SNO, 
								ORIGIN_NAME, 
								CHANGE_NAME,  
								FILE_PATH,
								FILE_LEVEL  
								)
						VALUES ( 
								SEQ_ATNO.NEXTVAL, 
								SEQ_SNO.CURRVAL, 
								?,  
								?,  
								?, 
								?  
								) 
</entry>

	<entry key="selectSpaceList">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'  
		ORDER BY SPACE_NO DESC 
	</entry>
		

<entry key="selectReservation"> <!-- 예약내역 정보들 가져오기 -->
	SELECT RESERVATION_NO, 
		HEADCOUNT, 
		USER_NAME, 
		TOTAL_PRICE, 
		RESERVATION_TIME1,
		RESERVATION_TIME2, 
		RESERVATION_DATE,
		SPACE_NAME,
		RES_REQUEST
		FROM RESERVATION R
		LEFT JOIN RESERVATION_DATE USING(RESERVATION_NO)
		JOIN MEMBER M ON R.USER_NO = M.USER_NO
		JOIN SPACE S ON R.SPACE_NO = S.SPACE_NO
		WHERE USER_ID = ?
		AND STATUS ='Y';
</entry>

	<entry key="myselectTumNailSpaceList">  <!-- 썸네일 리스트 -->
	   SELECT
			  SPACE_NO,
			  SPACE_NAME,
			  SPACE_TAG,
			  SPACE_ADDRESS,
			  SPACE_PRICE,
			  SPACE_CAPACITY,
			  FILE_PATH || CHANGE_NAME AS "TITLE_IMG"
			  FROM SPACE S
			  JOIN MEMBER M
			  ON (S.USER_NO=M.USER_NO)
			  JOIN ATTACHMENT A
			  ON (A.REF_SNO=S.SPACE_NO)
			  WHERE M.USER_NO = ?
					   
	</entry>

	<entry key="myselectSpaceList">  <!-- 썸네일 리스트 -->
		SELECT DISTINCT
			  SPACE_NO,
			  SPACE_NAME,
			  SPACE_TAG,
			  SPACE_ADDRESS,
			  SPACE_PRICE,
			  SPACE_CAPACITY
			 
			  FROM SPACE S
			  JOIN MEMBER M
			  ON (S.USER_NO=M.USER_NO)
			  WHERE M.USER_NO = ?
					   
	</entry>

	

</properties>