<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectOneSpace">

	 SELECT SPACE_NO,
			SPACE_NAME,
			SPACE_KIND,
			SPACE_ONE_INTRODUCE,
			SPACE_INTRODUCE,
			SPACE_TAG,
			SPACE_INFORMATION,
			SPACE_CAUTION,
			SPACE_MIMG,
			SPACE_IMG,
			SPACE_ADDRESS,
			SPACE_DETAIL_ADDRESS,
			SPACE_PRICE,
			SPACE_LOCATION,
			SPACE_TEL,
			SPACE_CAPACITY,
			SPACE_RESERVATION_STATUS,
			SPACE_ENROLL_DATE,
			SPACE_ENROLL_STATUS,
			USER_NO
			FROM SPACE
			WHERE SPACE_NO = ? 



</entry>



<entry key="insertSpace">
	INSERT INTO SPACE (
					    SPACE_NO,
						SPACE_NAME,
						SPACE_KIND,
						SPACE_ONE_INTRODUCE,
						SPACE_INTRODUCE,
						SPACE_TAG,
						SPACE_INFORMATION,
						SPACE_CAUTION,
						SPACE_MIMG,
						SPACE_ADDRESS,
						SPACE_DETAIL_ADDRESS,
						SPACE_PRICE,
						SPACE_LOCATION,
						SPACE_TEL,
						SPACE_CAPACITY,
						USER_NO 
					   )
				VALUES(
					   SEQ_SNO.NEXTVAL,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?,
					   ?
					   )					
</entry>

<entry key="insertAttachmentList">
	INSERT INTO ATTACHMENT (
								FILE_NO,  
								REF_SNO, 
								ORIGIN_NAME, 
								CHANGE_NAME,  
								FILE_PATH,
								FILE_LEVEL  
								)
						VALUES ( 
								SEQ_ATNO.NEXTVAL, 
								SEQ_SNO.CURRVAL, 
								?,  
								?,  
								?, 
								?  
								) 
</entry>

	<entry key="selectSpaceList">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'  
		ORDER BY SPACE_NO DESC 
	</entry>
		



	<entry key="myselectTumNailSpaceList">  <!-- 썸네일 리스트 -->
	   SELECT
			  SPACE_NO,
			  SPACE_NAME,
			  SPACE_TAG,
			  SPACE_ADDRESS,
			  SPACE_PRICE,
			  SPACE_CAPACITY,
			  FILE_PATH || CHANGE_NAME AS "TITLE_IMG"
			  FROM SPACE S
			  JOIN MEMBER M
			  ON (S.USER_NO=M.USER_NO)
			  JOIN ATTACHMENT A
			  ON (A.REF_SNO=S.SPACE_NO)
			  WHERE M.USER_NO = ?
					   
	</entry>

	<entry key="myselectSpaceList">  <!-- 썸네일 리스트 -->
		SELECT 
			  SPACE_NO,
			  SPACE_NAME,
			  SPACE_TAG,
			  SPACE_MIMG,
			  SPACE_ADDRESS,
			  SPACE_PRICE,
			  SPACE_CAPACITY
			 
			  FROM SPACE S
			  JOIN MEMBER M
			  ON (S.USER_NO=M.USER_NO)
			  WHERE SPACE_ENROLL_STATUS= 'Y' AND  M.USER_NO = ?
					   
	</entry>

	<!-- 메인이미지 전부가져오기 -->
	<entry key="selectMainAttachment">
		SELECT  FILE_NO,
				REF_SNO,
				ORIGIN_NAME,
				CHANGE_NAME,
				FILE_PATH
			FROM ATTACHMENT
		WHERE FILE_LEVEL = 1
	</entry>
	

	
	<entry key="selectSpaceAttachment">
		SELECT  FILE_NO,
				FILE_PATH
			FROM ATTACHMENT A
			JOIN SPACE S ON (A.REF_SNO=S.SPACE_NO)
	  WHERE FILE_LEVEL = 2  AND  S.SPACE_NO =  ?
		
	</entry>



	<!-- 인원 수 몇명이상 공간 검색 -->
	<entry key="selectSpaceListPeopleCount">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'  
			AND SPACE_CAPACITY >= ? 
		ORDER BY SPACE_NO DESC 
	</entry>
	
	<!-- 지역으로 공간 검색 -->
	<entry key="selectSpaceListPlaceInfo">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'  
			AND SPACE_ADDRESS LIKE '%'||?||'%'
		ORDER BY SPACE_NO DESC 
	</entry>
	
	<!-- 지역으로 인원 & 공간 검색 -->
	<entry key="selectSpaceListPCountPInfo">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'
		  	AND SPACE_CAPACITY >= ? 
			AND SPACE_ADDRESS LIKE '%'||?||'%'
		ORDER BY SPACE_NO DESC 
	</entry>



	<!-- 키워드 space 검색 -->
	<entry key="selectKeywordSpaceList">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'  
			AND (SPACE_NAME LIKE '%'||?||'%'
			 or  SPACE_TAG LIKE '%'||?||'%'
			 or  SPACE_ADDRESS LIKE '%'||?||'%'
			 or  SPACE_KIND LIKE '%'||?||'%'
			 or  SPACE_INFORMATION LIKE '%'||?||'%'
			 or  SPACE_ONE_INTRODUCE LIKE '%'||?||'%'
			 or  SPACE_INTRODUCE LIKE '%'||?||'%'
			 or  SPACE_PRICE LIKE '%'||?||'%'
				)
			
		ORDER BY SPACE_NO DESC 
	</entry>
	
	<entry key="selectSpaceListPCountPInfoPKind">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'
		  	AND SPACE_CAPACITY >= ? 
			AND SPACE_ADDRESS LIKE '%'||?||'%'
			AND SPACE_KIND LIKE '%'||?||'%'
		ORDER BY SPACE_NO DESC 
	</entry>
	
	<entry key="selectFilterSpaceList">
		SELECT SPACE_NO, 
			   SPACE_NAME, 
			   SPACE_TAG,
			   SPACE_MIMG, 
			   SPACE_ADDRESS, 
			   SPACE_PRICE, 
			   SPACE_CAPACITY 
		FROM SPACE  
		WHERE SPACE_ENROLL_STATUS = 'Y'
		  	AND SPACE_CAPACITY >= ? 
			AND SPACE_ADDRESS LIKE '%'||?||'%'
			AND SPACE_KIND LIKE '%'||?||'%' 
	  	ORDER BY
	</entry>
	
	
	<entry key="deleteSpace">
	  UPDATE SPACE SET SPACE_ENROLL_STATUS = 'N' 
	  		WHERE SPACE_NO = ? AND USER_NO = ? 
	
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT 
			FROM SPACE
			WHERE SPACE_ENROLL_STATUS = 'Y'
	</entry>
	
	<entry key="selectSpaceListPaging">
		SELECT * 
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT SPACE_NO, 
						   SPACE_NAME, 
						   SPACE_TAG,
					       SPACE_MIMG, 
					       SPACE_ADDRESS, 
						   SPACE_PRICE, 
						   SPACE_CAPACITY 
				    FROM SPACE  
				    WHERE SPACE_ENROLL_STATUS = 'Y'  
				    ORDER BY SPACE_NO DESC) A )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>